-breadcrumb :email_password
%main.mypage
  .mypage__container
    .mypage__contents
      .single__page__main
        .single__page__main__container
          %h2.single__page__main__head
            メール/パスワード
          = form_for resource, url: user_validation_path, html: { method: :post, class: "single__form"} do |f|
            = devise_error_messages!
            .single__field
              .single__field__label
                = f.label :email, "メールアドレス"
                %span.single__field__require 必須
              .single__field__input
                = f.email_field :email, placeholder: "PC・携帯どちらでも可"
            .single__field
              .single__field__label
                = f.label :password, "パスワード"
                %span.single__field__require 必須
              .single__field__input
                = f.password_field :password, autocomplete: "off", placeholder: "6文字以上"

            .single__field
              .single__field__label
                = f.label :password_confirmation, "パスワード(確認)"
                %span.single__field__require 必須
              .single__field__input
                = f.password_field :password_confirmation, autocomplete: "off", placeholder: "6文字以上"
              
            .single__field
              .single__field__label
                = f.label :password_confirmation, "パスワード(確認)"
                %span.single__field__require 必須
              .single__field__input
                = f.password_field :password_confirmation, autocomplete: "off", placeholder: "6文字以上"
            .single__field
              %p.single__field__text
                パスワードを設定したい場合は上記をすべて入力してください。（設定しない場合は空欄）
            .single__field
              = f.submit "変更する", class: "single__form__send-btn"

-# -# %h2
-# -# Edit #{resource_name.to_s.humanize}
-# = form_for(current_user, url: update_user_registration_path(current_user), html: { method: :put }) do |f|
-#   -# = render "devise/shared/error_messages", resource: resource
-#   .field
-#     = f.label :email
-#     %br/
-#     = f.email_field :email, autofocus: true, autocomplete: "email"
-#   - if devise_mapping.confirmable? && resource.pending_reconfirmation?
-#     %div
-#       Currently waiting confirmation for: #{resource.unconfirmed_email}
-#   .field
-#     = f.label :password
-#     %i (leave blank if you don't want to change it)
-#     %br/
-#     = f.password_field :password, autocomplete: "new-password"
-#     - if @minimum_password_length
-#       %br/
-#       %em
-#         = @minimum_password_length
-#         characters minimum
-#   .field
-#     = f.label :password_confirmation
-#     %br/
-#     = f.password_field :password_confirmation, autocomplete: "new-password"
-#   .field
-#     = f.label :current_password
-#     %i (we need your current password to confirm your changes)
-#     %br/
-#     = f.password_field :current_password, autocomplete: "current-password"
-#   .actions
-#     = f.submit "Update"
-# %h3 Cancel my account
-# %p
-#   Unhappy? #{button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete}
-# = link_to "Back", :back
