// sign_upページ
.account__page
  %header.account__page__header
    //メルカリのロゴの写真
    .logo
      = link_to "/" do
        ロゴ
      // = image_tag "", size: "185x50", alt: "mercari"
  %main.account__page__main
    .account__container
      %h2.account__head
        新規会員登録
      .account__form
        .account__field
          = link_to "/", class: "login-btn login-btn--mail", id: "mail-login" do
            = fa_icon "envelope lg", class: "login-icon login-icon--mail"
            メールアドレスで登録
          = link_to "/", class: "login-btn login-btn--facebook", id: "facebook-login" do
            = fa_icon "facebook-square 2x", class: "login-icon login-icon--facebook"
            Facebookで登録
          -# googleはアイコンなしでできる方法あり
          = link_to "/", class: "login-btn login-btn--google", id: "google-login" do
            = fa_icon "google lg", class: "login-icon login-icon--goolge"
            Googleで登録
  %footer.account__page__footer
    %nav
      = link_to "プライバシーポリシー", "/"
      = link_to "メルカリ利用規約", "/"
      = link_to "特定商取引に関する表記", "/"
    = link_to "", class: "account__page__footer__logo" do
      %p ロゴ
      -# = image_tag "logo.png", size: "100x50", alt: "mercari"
    %p
      %small © 2019 Mercari