// 1つ目のページ
%main.single__page__main
  .single__page__main__container
    %h2.single__page__main__head
      会員情報入力（今はメルアドとパスワードのみ入力して）
    = form_for resource, url: create_user_registration_path, html: {method: :post, class: "single__form"} do |f|
      = devise_error_messages!
      .single__field
        .single__field__label
          = f.label :nickname, "ニックネーム"
          %span.single__field__require 必須
        .single__field__input
          = f.text_field :nickname, autofocus: true, placeholder: "例)メルカリ太郎"

      .single__field
        .single__field__label
          = f.label :email, "メールアドレス"
          %span.single__field__require 必須
        .single__field__input
          = f.email_field :email, placeholder: "PC・携帯どちらでも可"

      .single__field
        .single__field__label
          = f.label :password, "パスワード"
          %span.single__field__require 必須
        .single__field__input
          = f.password_field :password, autocomplete: "off", placeholder: "6文字以上"

      .single__field
        .single__field__label
          = f.label :password_confirmation, "パスワード(確認)"
          %span.single__field__require 必須
        .single__field__input
          = f.password_field :password_confirmation, autocomplete: "off", placeholder: "6文字以上"

      .single__field
        %h3 本人確認
        %p 安心・安全にご利用いただくために、お客さまの本人情報の登録にご協力ください。他のお客さまに公開されることはありません。

      .single__field
        .single__field__label
          = f.label :last_name, "姓(全角)"
          %span.single__field__require 必須
        .single__field__input
          = f.text_field :last_name, placeholder: "例)山田"

      .single__field
        .single__field__label
          = f.label :first_name, "名(全角)"
          %span.single__field__require 必須
        .single__field__input
          = f.text_field :first_name, placeholder: "例)彩"

      .single__field
        .single__field__label
          = f.label :last_name_kana, "姓カナ(全角)"
          %span.single__field__require 必須
        .single__field__input
          = f.text_field :last_name_kana, placeholder: "例)ヤマダ"
          
      .single__field
        .single__field__label
          = f.label :first_name_kana, "名カナ(全角)"
          %span.single__field__require 必須
        .single__field__input
          = f.text_field :first_name_kana, placeholder: "例)アヤ"

      .single__field
        .single__field__label
          = f.label :birthday, "生年月日"
          %span.single__field__require 必須
        .single__field__date_select
          // To Do raw sprintfとdate_separatorで年月日の文字を表示する
          = raw sprintf(f.date_select(:birthday, {use_month_numbers: true, start_year: 1930, end_year: (Time.now.year), prompt: {year: "--", month: "--", day: "--"}, date_separator: '%s'}, { class: "date_select" }), '年 ', '月 ') + '日'
          = fa_icon "chevron-down", class: "single__icon single__field__date_select__arrow single__field__date_select__arrow--first"
          = fa_icon "chevron-down", class: "single__icon single__field__date_select__arrow single__field__date_select__arrow--second"
          = fa_icon "chevron-down", class: "single__icon single__field__date_select__arrow single__field__date_select__arrow--third"
      %p.single__field__text.single__field__text--gray
        ※ 本人情報は正しく入力してください。会員登録後、修正するにはお時間を頂く場合があります。
      .single__field
        -# = recaptcha_tags
      .single__field
        %p.single__field__text.single__field__text--center
          「次へ進む」のボタンを押すことにより、利用規約に同意したものとみなします
      .single__field
        = f.submit "次へ進む", class: "single__form__send-btn"