// sign_upページ
%main.single__page__main
  .single__container
    %h2.single__head
      新規会員登録
    .single__form
      .single__field
        = link_to user_registration_path, class: "login-btn login-btn--mail", id: "mail-login" do
          = fa_icon "envelope lg", class: "login-icon login-icon--mail"
          メールアドレスで登録
        = link_to "/", class: "login-btn login-btn--facebook", id: "facebook-login" do
          = fa_icon "facebook-square 2x", class: "login-icon login-icon--facebook"
          Facebookで登録
        -# googleはアイコンなしでできる方法あり
        = link_to "/", class: "login-btn login-btn--google", id: "google-login" do
          = fa_icon "google lg", class: "login-icon login-icon--goolge"
          Googleで登録

