// sign_upページ
%main.single__page__main
  .single__page__main__container
    %h2.single__page__main__head
      新規会員登録
    .single__form
      .single__field
        = link_to user_registration_path, class: "single__btn single__btn--mail", id: "mail-btn" do
          = fa_icon "envelope lg", class: "single__icon single__icon--mail"
          メールアドレスで登録
      .single__field
        = link_to "/", class: "single__btn single__btn--facebook", id: "facebook-btn" do
          = fa_icon "facebook-square 2x", class: "single__icon single__icon--facebook"
          Facebookで登録
      .single__field
        -# googleはアイコンなしでできる方法あり
        = link_to "/", class: "single__btn single__btn--google", id: "google-btn" do
          = fa_icon "google lg", class: "single__icon single__icon--goolge"
          Googleで登録

