-if user_signed_in?
  -if @item.favorites.present?
    %button.item__button#favorited-button{"data-item-id": "#{@item.id}", "data-favo-id": "#{@item.favorites.count}"}
      =fa_icon "heart" 
      %span いいね! 
      %span.xxx
        = @item.favorites.count

  -else
    %button.item__button#item__button{"data-item-id": "#{@item.id}", "data-favo-id": "#{@item.favorites.count}"}
      =fa_icon "heart-o"
      %span いいね!
      %span.xxx
        = @item.favorites.count

- else
  %button.item__button
    = link_to "/" do
      =fa_icon "heart-o"
      %span いいね!
      = @item.favorites.count