-if user_signed_in?
  -if @item.favorited_by?(current_user)
    %button.item__button#favorited-button{"data-item-id": "#{@item.id}", "data-favcount-id": "#{@item.favorites.count}"}
      =fa_icon "heart", class:'favorite'
      %span いいね! 
      %span.favorite_count
        = @item.favorites.count

  -else
    %button.item__button#item__button{"data-item-id": "#{@item.id}", "data-favcount-id": "#{@item.favorites.count}"}
      =fa_icon "heart-o", class:'favorite'
      %span いいね!
      %span.favorite_count
        = @item.favorites.count

- else
  %button.item__button
    = link_to "/" do
      =fa_icon "heart-o"
      %span いいね!
      = @item.favorites.count