-if user_signed_in?
  -if @item.favorites.present?
    %button.item__button#favorited-button.favorite{"data-item-id" => "#{@item.id}", "data-favo-id" => "#{@item.favorites.count}"}
      = link_to favorite_path(item_id: @item.id), method: :delete, id: "favorite-buttons", "data-item-id": "#{@item.id}", "data-favo-id": "#{@item.favorites.count}" do
        =fa_icon "heart" 
        %span いいね! 
        = @item.favorites.count

  -else
    %button.item__button#item__button{"data-item-id" => "#{@item.id}", "data-favo-id" => "#{@item.favorites.count}"}
      -#  link_to favorites_path(item_id: @item.id), method: :=post, id: "favorite-buttons", "data-item-id": "#{@item.id}", "data-favo-id": "#{@item.favorites.count}" do
      =fa_icon "heart-o"
      %span いいね!
      .favo-count
        = @item.favorites.count

- else
  %button.item__button
    = link_to "/" do
      =fa_icon "heart-o"
      %span いいね!
      %p.favo-count
        = @item.favorites.count