%main.mypage

  .mypage__container__show
    .mypage__contents
      .mypage__content__detail
        .mypage__content__head.mypage__content__head--image
          %section.mypage__content__head__user-icon
            = link_to show_user_plofile_path(@user) do
              %figure
                = image_tag @user.image.url, size: "180x180"
              %h2.mypage__content__head__user-icon__name.bold
                = @user.nickname
              .mypage__content__head__user-icon__number
                .mypage__content__head__user-icon__number--rate
                  評価
                  %span.bold
                    0
                .mypage__content__head__user-icon__number--display
                  出品数
                  %span.bold
                    = @user_items.count

        .white
          .item-content__detail-table__face--detail
            .item-content__detail-table__face--good
              = fa_icon "smile-o", class: "good-icon"
              %span.item-content__detail-table__face__name
                10
            .item-content__detail-table__face--normal
              = fa_icon "meh-o", class: "normal-icon"
              %span.item-content__detail-table__face__name
                10
            .item-content__detail-table__face--bad
              = fa_icon "frown-o", class: "bad-icon"
              %span.item-content__detail-table__face__name
                10
          .maypage__detail__introduce
            = @user.introduce

          .item__social-media-box
            %ul.item__social-media-box__links
              %li
                =link_to "http://www.facebook.com" do
                  =fa_icon "facebook-square", class:"icon-facebook"
              %li
                =link_to "http://www.twitter.com" do
                  =fa_icon "twitter-square", class:"icon-twitter"
              %li
                =link_to "http://www.pinterest.com" do
                  =fa_icon "pinterest-square", class:"icon-pinterest"

          .item-other
            %section.item-other__user-items
              %h2.item-other__user-items__head
                この出品者の商品
          .item-other__user-items__contents
            %section{class: "items-box__container"}
              .items-box__content
                = render @user_items

