:ruby
  announces =[{
    Name:"コメントがつきました", url:"#"
  },{
    Name:"いいね！！！！がつきました", url:"#"
  },{
    Name:"事務局からメッセージ！コメントがつきました！いいねがつきました！確認してください！", url:"#"
  }]

%main.mypage


  %main.mypage__container
    .mypage__contents
      .mypage__content
        .mypage__content__head.mypage__content__head--image
          %section.mypage__content__head__user-icon
            = link_to user_path(current_user) do
              %figure
                = image_tag "mypage_icon.png", size: "60x60"
              %h2.mypage__content__head__user-icon__name.bold
                testman
              .mypage__content__head__user-icon__number
                .mypage__content__head__user-icon__number--rate
                  評価
                  %span.bold
                    0
                .mypage__content__head__user-icon__number--display
                  出品数
                  %span.bold
                    0


        %section.mypage__content__tab-container
          %ul.mypage__content__tabs
            = render partial: "tab-head-active", locals: { sample: "お知らせ"}
            = render partial: "tab-head-non", locals: { sample: "やることリスト"}


          .mypage__content__tab-content
            %ul.mypage__content__tab-content__item-list
            
              - announces.each do |announce|
                = render partial: "tab-list", locals: { announce: announce }
              %li.mypage__content__tab-content__item-list--index
                .mypage__content__tab-content__item-list--index--gray
                  = link_to user_path(current_user) do
                    一覧を見る


              %li.mypage__content__tab-content__not-found.bold
                現在、やることリストはありません
                


      .mypage__content
        .mypage__content__head.mypage__content__head--text
          購入した商品
        %section.mypage__content__tab-container
          %ul.mypage__content__tabs
            = render partial: "tab-head-active", locals: { sample: "取引中"}
            = render partial: "tab-head-non", locals: { sample: "過去の取引"}


          .mypage__content__tab-content
            %ul.mypage__content__tab-content__item-list

              - announces.each do |announce|
                = render partial: "tab-list", locals: { announce: announce }
              %li.mypage__content__tab-content__item-list--index
                .mypage__content__tab-content__item-list--index--gray
                  = link_to user_path(current_user) do
                    一覧を見る

                    
              %li.mypage__content__tab-content__not-found.bold
                取引中の商品がありません

    .mypage__side
      =render "shared/sidebar"
