// 全体
%main.mypage__container
  .mypage__contents
    .mypage__content
      .mypage__content__head
        %section.mypage__user-icon
          = link_to user_path(current_user) do
            %figure
              = image_tag "", size: "60x60"
            %h2.mypage__user-icon__name.bold
              testman
            .mypage__user-icon__number
              .mypage__user-icon__number--rate
                評価
                %span.bold
                  0
              .mypage__user-icon__number--display
                出品数
                %span.bold
                  0


      %section.mypage__content__tab-container
        %ul.mypage__content__tabs
          %li.active
            %h3.mypage__content__tabs__head
              = link_to user_path(current_user) do
                お知らせ
                
          %li
            %h3.mypage__content__tabs__head
              = link_to user_path(current_user) do
                やることリスト


        .mypage__content__tab-content
          %ul.mypage__content__tab-content__item-list
            %li
              = link_to user_path(current_user), class: "mypage__content__tab-content__item-list__link" do
                .mypage__content__tab-content__item-list__link--icon
                  = image_tag "mercari_icon.png", size: "48x48"
                .mypage__content__tab-content__item-list__body
                  .mypage__content__tab-content__item-list__body--text
                    【ニュース】事務局からメッセージ！
                  .mypage__content__tab-content__item-list__body--icon-time
                    %span 1分前
                .mypage__content__tab-content__item-list__icon--right
                  = image_tag "", size: "20x20"
                
            %li
              = link_to user_path(current_user), class: "mypage__content__tab-content__item-list__link" do
                .mypage__content__tab-content__item-list__link--icon
                  = image_tag "mercari_icon.png", size: "48x48"
                .mypage__content__tab-content__item-list__body
                  .mypage__content__tab-content__item-list__body--text
                    【ニュース】事務局からメッセージ！
                  .mypage__content__tab-content__item-list__body--icon-time
                    %span 1分前
                .mypage__content__tab-content__item-list__icon--right
                  = image_tag "", size: "20x20"

            %li.mypage__content__tab-content__item-list--index
              = link_to user_path(current_user) do
                一覧を見る



    .mypage__content
      %h2.mypage__content__head.bold
        購入した商品
      %section.mypage__content__tab-container
        %ul.mypage__content__tabs
          %li.active
            %h3.mypage__content__tabs__head
              = link_to user_path(current_user) do
                取引中
          %li
            %h3.mypage__content__tabs__head
              = link_to user_path(current_user) do
                過去の取引
        .mypage__content__tab-content
          %ul.mypage__content__tab-content__item-list
            %li.mypage__content__tab-content__not-found.bold
              取引中の商品がありません
                
            