//ブランドナビゲーションバー
%ul.header-nav-parent-wrap2
  %li.header-brand-nav-parent
    %h3.header-brand-nav-heading
      = link_to '/' do
        %span.parent-span シャネル
  %li.header-brand-nav-parent
    %h3
      = link_to '/' do
        %span.parent-span ナイキ
  %li.header-brand-nav-parent
    %h3
      = link_to '/' do
        %span.parent-span アディダス
  %li.header-brand-nav-parent
    %h3
      = link_to '/' do
        %span.parent-span シュプリーム
  %li.header-brand-nav-parent
    %h3
      = link_to '/' do
        %span.parent-span ブランド一覧
