//ブランドナビゲーションバー
%ul.header-nav-brand-wrap
  %li.header-nav-brand-wrap__parent
    %h3.header-nav-brand-wrap__parent--heading
      = link_to '/' do
        %span Yohei Date
  %li.header-nav-brand-wrap__parent
    %h3.header-nav-brand-wrap__parent--heading
      = link_to '/' do
        %span Takahiro Terakado
  %li.header-nav-brand-wrap__parent
    %h3.header-nav-brand-wrap__parent--heading
      = link_to '/' do
        %span Miyuki Maura
  %li.header-nav-brand-wrap__parent
    %h3.header-nav-brand-wrap__parent--heading
      = link_to '/' do
        %span Chizuru Shinoda
  %li.header-nav-brand-wrap__parent
    %h3.header-nav-brand-wrap__parent--heading
      = link_to '/' do
        %span Taiki Kamaka
