-# あとで部分テンプレートで書き出します。
%ul.header-nav-parent-wrap
  %li.header-brand-nav-parent
    %h3
    = link_to '/' do
      %span.parent-span シャネル
  %li.header-brand-nav-parent
    %h3
    = link_to '/' do
      %span.parent-span ナイキ
  %li.header-brand-nav-parent
    %h3
    = link_to '/' do
      %span.parent-span アディダス
  %li.header-brand-nav-parent
    %h3
    = link_to '/' do
      %span.parent-span シュプリーム
  %li.header-brand-nav-parent
    %h3
    = link_to '/' do
      %span.parent-span ブランド一覧
