-# あとで部分テンプレートで書き出します。

%ul.header-nav-parent-wrap
  %li.header-nav-parent
    %h3
      = link_to '/' do
        %span.parent-span レディース
    %ul.header-nav-child-wrap
      %li.header-nav-child
        = link_to '/' do
          %span トップス

        %ul.header-nav-grand-child-wrap
          %li.header-nav-grand-child
            =link_to '/' do
              %span Tシャツ/カットソー（半袖なし/袖なし）
          %li.header-nav-grand-child
            =link_to '/' do
              %span Tシャツ/カットソー（七分/長袖)
      %li.header-nav-child
        = link_to '/' do
          %span ジャケット
        %ul.header-nav-grand-child-wrap
          %li.header-nav-grand-child
            =link_to '/' do
              %span DbD
          %li.header-nav-grand-child
            =link_to '/' do
              %span CoD
      %li.header-nav-child
        = link_to '/' do
          %span パンツ
        %ul.header-nav-grand-child-wrap
          %li.header-nav-grand-child
            =link_to '/' do
              %span FF14
          %li.header-nav-grand-child
            =link_to '/' do
              %span ドラクエ

  %li.header-nav-parent
    %h3
      = link_to '/' do
        %span.parent-span メンズ
    %ul.header-nav-child-wrap
      %li.header-nav-child
        = link_to '/' do
          %span スーツ
        %ul.header-nav-grand-child-wrap
          %li.header-nav-grand-child
            =link_to '/' do
              %span ネクタイ
          %li.header-nav-grand-child
            =link_to '/' do
              %span ベルト
      %li.header-nav-child
        = link_to '/' do
          %span 海パン
        %ul.header-nav-grand-child-wrap
          %li.header-nav-grand-child
            =link_to '/' do
              %span PS
          %li.header-nav-grand-child
            =link_to '/' do
              %span PS2
      %li.header-nav-child
        = link_to '/' do
          %span 帽子
        %ul.header-nav-grand-child-wrap
          %li.header-nav-grand-child
            =link_to '/' do
              %span GBA
          %li.header-nav-grand-child
            =link_to '/' do
              %span GC

  %li.header-nav-parent
    %h3
      = link_to '/' do
        %span.parent-span ベビー・キッズ
    %ul.header-nav-child-wrap
      %li.header-nav-child
        = link_to '/' do
          %span おもちゃ
        %ul.header-nav-grand-child-wrap
          %li.header-nav-grand-child
            =link_to '/' do
              %span くるま
          %li.header-nav-grand-child
            =link_to '/' do
              %span あやかすときに使うアレ
      %li.header-nav-child
        = link_to '/' do
          %span ベビーかー
        %ul.header-nav-grand-child-wrap
          %li.header-nav-grand-child
            =link_to '/' do
              %span PS3
          %li.header-nav-grand-child
            =link_to '/' do
              %span PS4
      %li.header-nav-child
        = link_to '/' do
          %span 洋服
        %ul.header-nav-grand-child-wrap
          %li.header-nav-grand-child
            =link_to '/' do
              %span Xbox
          %li.header-nav-grand-child
            =link_to '/' do
              %span Xbox360