-# //ブランド多段階ナビゲーションバー
%ul.header-nav-parent-wrap#header-nav-parent
  - @parents.each do |parent|
    %li.header-nav-parent
      %h3.header-nav-parent__heading
        =link_to category_path(parent.id),class:'header-nav-parent__a' do
          = parent.name
      %ul.header-nav-child-wrap
        - parent.children.each do |child|
          %li.header-nav-child
            = link_to category_path(child.id) do
              = child.name
            %ul.header-nav-grand-child-wrap
              - child.children.each do |grandchild|
                %li.header-nav-grand-child
                  = link_to category_path(grandchild.id) do
                    = grandchild.name

-# %ul.header-nav-parent-wrap
-#   %li.header-nav-parent
-#     %h3
-#       = link_to '/' do
-#         %span.parent-span レディース
