- if comment.user_id.to_s == @item.seller_id.to_s
  .item__comment
    .item__comment__content
      .item__comment__content-name
        .item__comment__content-name__seller
          = @item.seller.nickname
      .item__comment__content-comment
        .item__comment__content-comment__seller
          %p
            = comment.content
          = fa_icon "clock-o", class: "comment-clock"
          %span.comment-clock
            = comment.created_at.strftime("%Y/%m/%d %H:%M")
        .item__comment__content-balloon__seller
    .item__comment__user
      .item__comment__user-icon
        = image_tag("mypage_icon.png", size: "40x40")
        .item__comment__user-seller
          %p 出品者

- else
  .item__comment
    .item__comment__user
      .item__comment__user-icon
        = link_to mypage_index_path do
          = image_tag("mypage_icon.png", size: "40x40")
    .item__comment__content
      .item__comment__content-name
        .item__comment__content-name__user
          = comment.user.nickname
      .item__comment__content-comment
        .item__comment__content-comment__user
          %p
            = comment.content
          = fa_icon "clock-o", class: "comment-clock"
          %span.comment-clock
            = comment.created_at.strftime("%Y/%m/%d %H:%M")
        .item__comment__content-balloon