.modal-window{id: comment.id}
  .modal-window-body
    .modal-window-body__top
      .modal-window-body__top--title
        確認
      -# .modal-window-body__top--comment data-id": "#{comment.id}"
      .modal-window-body__top--comment
        = comment.content
      .modal-window-body__top--text
        本当にこのコメントを削除してよろしいですか？
    .modal-window-body__form
      .modal-window-body__form__btn
        = link_to "キャンセル"
      .modal-window-body__form__btn
        = link_to "削除する", item_comment_path(@item,comment), method: :delete


- if comment.user_id.to_s == @item.seller_id.to_s
  .item__comment
    .item__comment__content
      .item__comment__content-name
        .item__comment__content-name__seller
          = link_to @item.seller.nickname, show_user_plofile_path(@item.seller), method: :get
      .item__comment__content-comment
        .item__comment__content-comment__seller
          %p
            = comment.content
          %span.comment-clock
            = time_format(comment.created_at)
          -if @item.seller_id.to_s == current_user&.id.to_s
            = link_to "/" do
              = fa_icon "trash-o", class: "delete-icon", "data-id": "#{comment.id}"
        .item__comment__content-balloon__seller
    .item__comment__user
      .item__comment__user-icon
        = image_tag @item.seller.image.url, size: "40x40"
        .item__comment__user-seller
          %p 出品者

- else
  .item__comment
    .item__comment__user
      .item__comment__user-icon
        = image_tag comment.user.image.url, size: "40x40"
    .item__comment__content
      .item__comment__content-name
        .item__comment__content-name__user
          = link_to comment.user.nickname, show_user_plofile_path(comment.user), method: :get
      .item__comment__content-comment
        .item__comment__content-comment__user
          %p
            = comment.content
          %span.comment-clock
            = time_format(comment.created_at)
          -if comment.user_id.to_s == current_user&.id.to_s
            = link_to do
              = fa_icon "trash-o", class: "delete-icon"
        .item__comment__content-balloon