.sell-content
  .single__field.single__field--large
    .single__field__label
      = f.label :images , "出品画像"
      %span.single__field__require 必須
    %p 最大10枚までアップロードできます
    .sell-upload__container
      %ul.sell-upload__items
        - @item.images&.each_with_index do |image, i|
          %li.sell-upload__item
            .sell-upload__item__header
              = image_tag "#{image.image}", class: "sell-upload__item__header__image"
            .sell-upload__item__footer
              = link_to "編集", "/", class: "sell-upload__item__footer__btn sell-upload__item__footer__btn--edit"
              = link_to "削除", "/", class: "sell-upload__item__footer__btn sell-upload__item__footer__btn--remove", "data-image-name":"image#{i}"
        .sell-upload__box 
          = f.label :images, for: "images", class: "sell-upload__box__label" do
            %span
              ドラッグアンドドロップ
              またはクリックしてファイルをアップロード
            = fa_icon "image"
            = f.file_field :images, multiple: true, name: "item[images][]", id: "images", style: "display: none;"
      %ul.sell-upload__error
        %li
          アップロードできる画像は10枚までです。
      
.sell-content
  .single__field.single__field--large
    .single__field__label
      = f.label :name, "商品名"
      %span.single__field__require 必須
    .single__field__input
      = f.text_field :name, placeholder: "商品名（必須40文字まで）"
  .single__field.single__field--large
    .single__field__label
      = f.label :description, "商品の説明"
      %span.single__field__require 必須
    .single__field__textarea
      = f.text_area :description, placeholder: "商品の説明（必須1,000文字以内）（色、素材、重さ、定価、注意点など）例）2010年頃に1万円で購入したジャケットです。ライトグレーで傷はありません。あわせやすいのでおすすめです。"
      
.sell-content.sell-content--flex
  %h3 商品の詳細
  .sell-form-box
    .single__field.single__field--large.category-select-box
      .single__field__label
        = f.label :category_id, "カテゴリー"
        %span.single__field__require 必須
      - unless @grandchild
        .single__field__select
          = f.collection_select :parent_id, @parents, :id,:name,{prompt: "---"}, id: "parent-form"
      - else
        .single__field__select
          = f.collection_select :parent_id, @grandchild.parent.parent.siblings, :id, :name, {prompt: "---", selected: @grandchild.parent.parent.id}, id: "parent-form"
        .single__field__select#children_wrapper
          = f.collection_select :child_id, @grandchild.parent.siblings, :id, :name, {prompt: "---", selected: @grandchild.parent.id}, id: "child_category"
        .single__field__select#grandchildren_wrapper
          = f.collection_select :category_id, @grandchild.siblings, :id, :name, {prompt: "---", selected: @grandchild.id}, id: "grandchild_category"

    
    .single__field.single__field--large
      .single__field__label
        = label :size, "サイズ"
        %span.single__field__require 必須
      .single__field__select
        = f.select :size,[["XXS以下","XXS以下"],["XS(SS)", "XS(SS)"],["S", "S"],["M","M"],["L","L"],["XL(LL)","XL(LL)"],["FREE SIZE","FREE SIZE"]], class: "single__field__select", prompt: "---"

    .single__field.single__field--large
      .single__field__label
        = f.label :condition, "商品の状態"
        %span.single__field__require 必須
      .single__field__select
        = f.select :condition,[["新品/未使用", "新品/未使用"],["未使用に近い", "未使用に近い"],["目立った傷や汚れなし", "目立った傷や汚れなし"],["やや傷や汚れあり", "やや傷や汚れあり"],["傷や汚れあり", "傷や汚れあり"],["全体的に状態が悪い", "全体的に状態が悪い"]], class: "single__field__select", prompt: "---"

.sell-content.sell-content--flex
  %h3.question 配送について
  .sell-form-box
    .single__field.single__field--large
      .single__field__label
        = f.label :shipping_fee, "配送料の負担"
        %span.single__field__require 必須
      .single__field__select
        = f.select :shipping_fee, [["送料負担(出品者負担)","送料込み"],["着払い(購入者負担)","着払い"]], class: "single__field__select", prompt: "---"
    
    .single__field.single__field--large
      .single__field__label
        = f.label :shipping_method, "配送の方法"
        %span.single__field__require 必須
      .single__field__select
        = f.select :shipping_method, [["未定", "未定"], ["らくらくメルカリ便", "らくらくメルカリ便"], ["ゆうメール", "ゆうメール"], ["レターパック", "レターパック"]], class: "single__field__select", prompt: "---"
    
    .single__field.single__field--large
      .single__field__label
        = f.label :prefecture, "発送元の地域"
        %span.single__field__require 必須
      .single__field__select
        = f.collection_select :prefecture, Prefecture.all, :name, :name, prompt: "---"

    .single__field.single__field--large
      .single__field__label
        = f.label :shipping_date, "発送までの日数"
        %span.single__field__require 必須
      .single__field__select
        = f.select :shipping_date, [["1~2日で発送", "1~2日で発送"], ["2~3日で発送", "2~3日で発送"], ["4~7日で発送", "4~7日で発送"]], class: "single__field__select", prompt: "---"

.sell-content.sell-content--flex
  %h3.question 販売価格(300〜9,999,999)
  .sell-form-box
    %ul.sell-price
      %li.form-group
        .single__field--2
          .single__field__label__left
            = f.label :price, "価格"
            %span.single__field__require 必須
          .single__field__label__right
            %p ¥
            .single__field__input.single__field__input--right.text-right
              = f.text_field :price, placeholder: "例) 300" ,class:"text-right", id:"price-form"
            
      %li.sellfee 
        .l-left 販売手数料
        .l-right#sellfee 
          - if @item.price.present?
            = @item.price - @item.profit
          - else
            \-
      %li.sellprofit 
        .l-left 販売利益
        .l-right#sellprofit
          - if @item.price.present?
            = @item.profit
          - else
            \-
