%main.single__page__main
  .single__page__main__container
    .purchase-confirmations
      %h2.purchase-confirmations__head
        購入内容の確認
      .purchase-confirmations__container
        .purchase-confirmations__item
          .purchase-confirmations__item__detail
            -image = @item.images.first
            -if image
              =image_tag "#{image.image}", class: "purchase-confirmations__item__detail__img"
            %p.purchase-confirmations__item__detail__name
              =@item.name
          %p.purchase-confirmations__item__price
            ="¥ #{@item.price}"
            %span 
              =@item.shipping_fee
          %p.purchase-confirmations__item__point
            ポイントはありません
          %p.purchase-confirmations__item__pey-price
            支払い金額
            %span 
              ="¥ #{@item.price}"
          -unless @item.seller_id == current_user&.id
            -if @card && current_user.address
              -if @item.status == 0
                =form_for @item, url: {controller: "items", action: "pay"} do |f|
                  = f.text_field :status, value: 1, class: "purchase-form-hidden"
                  = f.text_field :buyer_id, value: current_user.id, class: "purchase-form-hidden"
                  %button.purchase-button{type: "submit"}
                    購入する
              -else
                %button.purchase-button--sold
                  売り切れです
            -else
              %p.purchase-button__notice
                支払い方法と配送先を登録してください
              %button.purchase-button--sold
                購入する

  
      -# ユーザーのデータベースができてから表示
      .purchase-confirmations__container
        %section.buy-user-info
          .buy-user-info__address
            %h3 配送先
            -if current_user.address
              %address
                = "〒#{current_user.address.postal_code}"
                %br 
                = current_user.address.prefecture + current_user.address.municipalities + current_user.address.address
                -if current_user.address.building
                  = current_user.address.building
                %br
                = "#{current_user.address.first_name + current_user.address.last_name}"

            =link_to address_user_registration_path, class: "buy-user-info__fix" do 
              %span
                変更する
                =fa_icon "angle-right"
      .purchase-confirmations__container
        -if @card
          %section.buy-user-info
            .buy-user-info__credit
              %h3 支払い方法
              %p.buy-user-info__credit__number
                = "********" + @card.last4
                %br
                = @card.exp_month.to_s + " / " + @card.exp_year.to_s.slice(2,3)
              = fa_icon "cc-#{@card.brand.downcase}", class: "single__icon single__icon--mail"
              =link_to mypage_card_path, class: "buy-user-info__fix" do 
                %span
                  変更する
                  =fa_icon "angle-right"
        -else
          %section.buy-user-info
            .buy-user-info__credit
              %h3 支払い方法
              %p.buy-user-info__credit__number
                = ""
                %br
                = " / " 
              =link_to mypage_card_path, class: "buy-user-info__fix" do 
                %span
                  変更する
                  =fa_icon "angle-right"

 
