%main.single__page__main
  .single__page__main__container
    %h2.single__page__main__head
      商品の情報を入力
    = form_for @item, url: "/items", html: { method: :post, class:"single__form single__form--sell", id: "single__form--sell" } do |f|
      .sell-content
        .single__field.single__field--large
          .single__field__label
            = f.label :images , "出品画像"
            %span.single__field__require 必須
          %p 最大10枚までアップロードできます
          .sell-upload__container
            %ul.sell-upload__items
              .sell-upload__box 
                = f.label :images, for: "images", class: "sell-upload__box__label" do
                  %span
                    ドラッグアンドドロップ
                    またはクリックしてファイルをアップロード
                  = fa_icon "image"
                  = f.file_field :images, multiple: true, name: "item[images][]", id: "images", style: "display: none;"
                
            
      .sell-content
        .single__field.single__field--large
          .single__field__label
            = f.label :name, "商品名"
            %span.single__field__require 必須
          .single__field__input
            = f.text_field :name, placeholder: "商品名（必須40文字まで）"
        .single__field.single__field--large
          .single__field__label
            = f.label :description, "商品の説明"
            %span.single__field__require 必須
          .single__field__textarea
            = f.text_area :description, placeholder: "商品の説明（必須1,000文字以内）（色、素材、重さ、定価、注意点など）例）2010年頃に1万円で購入したジャケットです。ライトグレーで傷はありません。あわせやすいのでおすすめです。"
           
      .sell-content
        %h3 商品の詳細
        .sell-form-box

          //後の実装にて使用するためコメントアウトしています
          -# .single__field.single__field--large   
          -#   .single__field__label
          -#     = f.label :item_description, "カテゴリー"
          -#     %span.single__field__require 必須
          -#   .single__field__select
          -#     = f.select required: "" do
          -#       %option{hidden: "", value: ""} --- 
          -#       %option{value: "1"} レディース
          -#       %option{value: "2"} メンズ
          -#       %option{value: "3"} ベビー・キッズ
          -#       %option{value: "4"} インテリア・住まい・小物
          -#   .single__field__select
          -#     = f.select required: "" do
          -#       %option{hidden: "", value: ""} --- 
          -#       %option{value: "1"} トップス
          -#       %option{value: "2"} ジャケット/アウター
          -#       %option{value: "3"} パンツ
          -#       %option{value: "4"} スカート
          -#   .single__field__select
          -#     = f.select required: "" do
          -#       %option{hidden: "", value: ""} --- 
          -#       %option{value: "1"} Tシャツ/カットソー(半袖/袖なし)
          -#       %option{value: "2"} Tシャツ/カットソー(七分/長袖)
          -#       %option{value: "3"} シャツ/ブラウス(半袖/袖なし)
          -#       %option{value: "4"} シャツ/ブラウス(七分/長袖)
            

          .single__field.single__field--large
            .single__field__label
              = label :size, "サイズ"
              %span.single__field__require 必須
            .single__field__select
              = f.select :size,[["XXS以下","XXS以下"],["XS(SS)", "XS(SS)"],["S", "S"],["M","M"]], class: "single__field__select", prompt: "---"

          //後の実装にて使用するためコメントアウトしています
          -# .single__field.single__field--large  
          -#   .single__field__label
          -#     = f.label :item_description, "ブランド"
          -#     %span.single__field__require.single__field__require--gray 任意
          -#   .single__field__input
          -#     = f.text_field :brand, placeholder: "例) シャネル"

          .single__field.single__field--large
            .single__field__label
              = f.label :condition, "商品の状態"
              %span.single__field__require 必須
            .single__field__select
              = f.select :condition,[["新品/未使用", "新品/未使用"],["未使用に近い", "未使用に近い"],["目立った傷や汚れなし", "目立った傷や汚れなし"],["やや傷や汚れあり", "やや傷や汚れあり"],["傷や汚れあり", "傷や汚れあり"],["全体的に状態が悪い", "全体的に状態が悪い"]], class: "single__field__select", prompt: "---"


      .sell-content
        %h3 配送について
        .sell-form-box
          .single__field.single__field--large
            .single__field__label
              = f.label :shipping_fee, "配送料の負担"
              %span.single__field__require 必須
            .single__field__select
              = f.select :shipping_fee, [["送料負担(出品者負担)","送料負担(出品者負担)"],["着払い(購入者負担)","着払い(購入者負担)"]], class: "single__field__select", prompt: "---"
          
          .single__field.single__field--large
            .single__field__label
              = f.label :shipping_method, "配送の方法"
              %span.single__field__require 必須
            .single__field__select
              = f.select :shipping_method, [["未定", "未定"], ["らくらくメルカリ便", "らくらくメルカリ便"], ["ゆうメール", "ゆうメール"], ["レターパック", "レターパック"]], class: "single__field__select", prompt: "---"
          
          .single__field.single__field--large
            .single__field__label
              = f.label :prefecture, "発送元の地域"
              %span.single__field__require 必須
            .single__field__select
              = f.collection_select :prefecture, Prefecture.all, :name, :name, prompt: "---"

          .single__field.single__field--large
            .single__field__label
              = f.label :shipping_date, "発送までの日数"
              %span.single__field__require 必須
            .single__field__select
              = f.select :shipping_date, [["1~2日で発送", "1~2日で発送"], ["2~3日で発送", "2~3日で発送"], ["4~7日で発送", "4~7日で発送"]], class: "single__field__select", prompt: "---"

      .sell-content
        %h3 販売価格(300〜9,999,999)
        .sell-form-box
          %ul.sell-price
            %li.form-group
              .single__field--2
                .single__field__label__left
                  = f.label :price, "価格"
                  %span.single__field__require 必須
                .single__field__label__right
                  %p ¥
                  .single__field__input.single__field__input--right.text-right
                    = f.text_field :price, placeholder: "例) 300" ,class:"text-right", id:"price-form"
                 
            %li.sellfee 
              .l-left 販売手数料
              .l-right#sellfee -
            %li.sellprofit 
              .l-left 販売利益
              .l-right#sellprofit -

          -# = form_for @item, url: "/items", html:{method: :post, class:"single__formsingle__form__items"} do |f|
          -#   = render partial: 'new_main', locals: { f: f }
      .sell-content
        %div
          %p.single__field__text
            = link_to "禁止されている出品", "https://www.mercari.com/jp/help_center/getting_started/prohibited_items/" , class:"sell-notice"
            、
            = link_to "行為", "https://www.mercari.com/jp/help_center/getting_started/prohibited_conduct/", class:"sell-notice"
            を必ずご確認ください。
        
            %br
            またブランド品でシリアルナンバー等がある場合はご記載ください。
            = link_to "偽ブランドの販売", "https://www.mercari.com/jp/help_center/getting_started/counterfeit_goods/", class:"sell-notice"
            は犯罪であり処罰される可能性があります。
          
            %br
            また、出品をもちまして
            = link_to "加盟店規約", "https://www.mercari.com/jp/seller_terms/", class:"sell-notice"
            に同意したことになります。

        = f.submit "出品する", class: "single__form__send-btn", id: "sell-submit"
        = link_to root_path do
          = f.submit "もどる", class: "single__form__send-btn single__form__send-btn--gray single__form__send-btn--small" 
    
