%main.single__page__main
  .single__page__main__container
    %h2.single__page__main__head
      商品の情報を入力
    = form_for @item, url: "/items", html: {method: :post, class: "single__formsingle__form__items"} do |f|
      .sell-content
        .single__field.single__field--large
          .single__field__label
            = f.label :images, :image, value: "出品画像"
            %span.single__field__require 必須
          %p 最大10枚までアップロードできます
          .sell-upload--container
            = f.label :images, :image do
              .sell-upload--box
                = file_field :images, :image
                %span.text-mark 
                  ドラッグアンドドロップ
                  またはクリックしてファイルをアップロード

      .sell-content
        .single__field.single__field--large
          .single__field__label
            = f.label :item_name, "商品名"
            %span.single__field__require 必須
          .single__field__input
            = f.text_field :item_name, placeholder: "商品名（必須40文字まで）"
        .single__field.single__field--large
          .single__field__label
            = f.label :item_description, "商品の説明"
            %span.single__field__require 必須
          .single__field__textarea
            %textarea#item_description{placeholder: "商品の説明（必須1,000文字以内）（色、素材、重さ、定価、注意点など）例）2010年頃に1万円で購入したジャケットです。ライトグレーで傷はありません。あわせやすいのでおすすめです。"}

      .sell-content
        %h3 商品の詳細
        .sell-form-box
          .single__field.single__field--large
            .single__field__label
              = f.label :item_description, "カテゴリー"
              %span.single__field__require 必須
            .single__field__select
              = f.select required: "" do
                %option{hidden: "", value: ""} --- 
                %option{value: "1"} レディース
                %option{value: "2"} メンズ
                %option{value: "3"} ベビー・キッズ
                %option{value: "4"} インテリア・住まい・小物
            .single__field__select
              = f.select required: "" do
                %option{hidden: "", value: ""} --- 
                %option{value: "1"} トップス
                %option{value: "2"} ジャケット/アウター
                %option{value: "3"} パンツ
                %option{value: "4"} スカート
            .single__field__select
              = f.select required: "" do
                %option{hidden: "", value: ""} --- 
                %option{value: "1"} Tシャツ/カットソー(半袖/袖なし)
                %option{value: "2"} Tシャツ/カットソー(七分/長袖)
                %option{value: "3"} シャツ/ブラウス(半袖/袖なし)
                %option{value: "4"} シャツ/ブラウス(七分/長袖)
            

          .single__field.single__field--large
            .single__field__label
              = f.label :item_description, "サイズ"
              %span.single__field__require 必須
            .single__field__select
              = f.select required: "" do
                %option{hidden: "", value: ""} --- 
                %option{value: "1"} XXS以下
                %option{value: "2"} XS(SS)
                %option{value: "3"} S
                %option{value: "4"} M

          .single__field.single__field--large
            .single__field__label
              = f.label :item_description, "ブランド"
              %span.single__field__require.single__field__require--gray 任意
            .single__field__input
              = f.text_field :item_name, placeholder: "例) シャネル"

          .single__field.single__field--large
            .single__field__label
              = f.label :item_description, "商品の状態"
              %span.single__field__require 必須
            .single__field__select
              = f.select required: "" do
                %option{hidden: "", value: ""} --- 
                %option{value: "1"} 新品/未使用
                %option{value: "2"} 未使用に近い
                %option{value: "3"} 目立った傷や汚れなし
                %option{value: "4"} やや傷や汚れあり
         

      .sell-content
        %h3 配送について
        .sell-form-box
          .single__field.single__field--large
            .single__field__label
              = f.label :item_description, "配送料の負担"
              %span.single__field__require 必須
            .single__field__select
              = f.select required: "" do
                %option{hidden: "", value: ""} --- 
                %option{value: "1"} 送料負担(出品者負担)
                %option{value: "2"} 着払い(購入者負担)
          
          .single__field.single__field--large
            .single__field__label
              = f.label :item_description, "配送の方法"
              %span.single__field__require 必須
            .single__field__select
              = f.select required: "" do
                %option{hidden: "", value: ""} --- 
                %option{value: "1"} 未定
                %option{value: "2"} らくらくメルカリ便
                %option{value: "3"} ゆうメール
                %option{value: "4"} レターパック

          .single__field.single__field--large
            .single__field__label
              = f.label :item_description, "発送元の地域"
              %span.single__field__require 必須
            .single__field__select
              = f.select required: "" do
                %option{hidden: "", value: ""} --- 
                %option{value: "1"} 北海道県
                %option{value: "2"} 青森県
                %option{value: "3"} 岩手県
                %option{value: "4"} 宮城県

          .single__field.single__field--large
            .single__field__label
              = f.label :item_description, "発送までの日数"
              %span.single__field__require 必須
            .single__field__select
              = f.select required: "" do
                %option{hidden: "", value: ""} --- 
                %option{value: "1"} 1~2日で発送
                %option{value: "2"} 2~3日で発送
                %option{value: "3"} 4~7日で発送

      .sell-content
        %h3 販売価格(300〜9,999,999)
        .sell-form-box
          %ul.sell-price
            %li.form-group
              .single__field--2
                .single__field__label__left
                  = f.label :item_description, "価格"
                  %span.single__field__require 必須
                .single__field__label__right
                  %p ¥
                  .single__field__input.single__field__input--right
                    = f.text_field :item_name, placeholder: "1000"  
            %li.sellfee 
              .l-left 販売手数料
              .l-right 100
            %li.sellprofit 
              .l-left 販売利益
              .l-right 900

      .sell-content
        .sell--box
          %p 禁止されている出品、行為を必ずご確認ください。
          %p またブランド品でシリアルナンバー等がある場合はご記載ください。偽ブランドの販売は犯罪であり処罰される可能性があります。
          %p また、出品をもちまして加盟店規約に同意したことになります。

      
          %p.single__field__text.single__field__text--center
          = f.submit "出品する", class: "single__form__send-btn" 
          = f.submit "もどる", class: "single__form__send-btn single__form__send-btn--gray single__form__send-btn--small" 

