-breadcrumb :item_name
.show-container
  
  .item__box-container
    %h1.item__name
      = @item.name
    .item__main-content
      .item__photo
        .owl__carousel
          .owl__item__inner
          -image = @item.images.first
          -if image
            =image_tag "#{image.image}"


      %table.item__detail-table
        %tboby
          %tr
            %th 出品者
            %td
              = link_to @item.seller.nickname, item_path, method: :get, class: "user-name-link"
              .item-content__detail-table__face
                .item-content__detail-table__face--good
                  = fa_icon "smile-o", class: "good-icon"
                  %span.item-content__detail-table__face__name
                    10
                .item-content__detail-table__face--normal
                  = fa_icon "meh-o", class: "normal-icon"
                  %span.item-content__detail-table__face__name
                    10
                .item-content__detail-table__face--bad
                  = fa_icon "frown-o", class: "bad-icon"
                  %span.item-content__detail-table__face__name
                    10


          %tr
            %th カテゴリー
            %td
              =link_to root_path,class:'aBlue' do
                レディース
                -# カテゴリーまだ
          %tr
            %th ブランド
            %td
              =link_to root_path,class:'aBlue' do
                エルメス
                -# ブランドまだ
          %tr
            %th 商品のサイズ
            %td 
              = @item.size
          %tr
            %th 商品の状態
            %td 
              = @item.condition
          %tr
            %th 配送料の負担
            %td 
              = @item.shipping_fee
          %tr
            %th 配送の方法
            %td
              = @item.shipping_method
          %tr
            %th 配送元地域
            %td
              =link_to item_path,class:'aBlue' do
                = @item.prefecture
          %tr
            %th 配達日の目安
            %td
              = @item.shipping_date

    .item__price-box
      %span.item__price-box__price
        = "¥ #{@item.price}"
      %span.item__price-box__tax
        (税込)
      %span.item__price-box__shipping-fee
        送料込み
    -if @item.status == 0
      =link_to items_buy_path, class: "item__buy-btn" do
        購入画面に進む
    - else
      %button.item__buy-btn--sold
        売り切れです

    %section.item__description
      %p.item__description__innner
        = @item.description

    .item__button-container
      .item__button__left
        %button.item__button.item__button__like
          =fa_icon "heart-o"
          %span いいね!
        %button.item__button.item__button__report
          =fa_icon "flag-o"
          %span 不適切な商品の報告
      .item__button__right
        =link_to "https://www.mercari.com/jp/safe/description/" do
          =fa_icon "lock"
          %span.aBlue あんしん・あんぜんへの取り組



  -if @item.seller_id == current_user&.id
    .item__detail-message
      .message-container
        .message-content 
          .mypage__content__tab-content__item-list--index
            .mypage__content__tab-content__item-list--index--gray
              = link_to "この商品を削除する", item_path(@item), method: :delete, class: "item-delete"

  .item__detail-message
    .message-container
      .message-content

        .message-items
          %li.message-list
            = link_to mypage_index_path do
              %figure
                = image_tag "mypage_icon.png", size: "40x40"


        .message-form
        = form_with url: item_comments_path(@item, @comment), class: "message-form" do |f|
          %p
            相手のことを考え丁寧なコメントを心がけましょう。不快な言葉遣いなどは利用制限や退会処分となることがあります。
          .message-form__textarea
            = f.text_area :content
          -# .message-submit.btn-default.btn-gray
          = f.submit "コメントする", class: "single__form__send-btn single__form__send-btn--gray"

  %ul.nav-item__link-prev-next
    %li.nav-item__link-prev
      =link_to root_path,class:'aBlue' do
        =fa_icon "angle-left"
        花柄ワンピース
    %li.nav-item__link-next
      =link_to root_path,class:'aBlue' do
        レインコート
        =fa_icon "angle-right"
  
  .item__social-media-box
    %ul.item__social-media-box__links
      %li
        =link_to "http://www.facebook.com" do
          =fa_icon "facebook-square", class:"icon-facebook"
      %li
        =link_to "http://www.twitter.com" do
          =fa_icon "twitter-square", class:"icon-twitter"
      %li
        =link_to "http://www.pinterest.com" do
          =fa_icon "pinterest-square", class:"icon-pinterest"


  .item-other
    %section.item-other__user-items
      %h2.item-other__user-items__head
        = link_to "testmanさんのその他の出品", item_path, method: :get, class: "link item-link"
      .item-other__user-items__content
        = render "other_item"
