:ruby
  cardlists = ["visa-card.svg", "mastercard.svg", "saison-card.svg" ,"jcb-card.svg", "american-express-card.svg", "diners-club-International.svg", "discover-card.svg"]

%main.single__page__main
  .single__page__main__container
    %h2.single__page__main__head
      支払い方法

      .single__field
        .single__field__label
          =label :number, "カード番号"
          %span.single__field__require 必須
        .single__field__input
          %input.number.input-default{maxlength: "16", name: "number", placeholder: "カード番号", type: "text", id: "payment_card_no"}/
        - cardlists.each do |card|
          = image_tag "#{card}", class: "single__icon--card"
      .single__field
        .single__field__label
          = label :valid, "有効期限"
          %span.single__field__require 必須
        .single__field--flex
          .single__field__select.single__field__select--small
            %select.exp_month#card_expire_mm{maxlength: "2", name: "exp_month", type: "text"}
              %option{value: "1"}01
              %option{value: "2"}02
              %option{value: "3"}03
              %option{value: "4"}04
              %option{value: "5"}05
              %option{value: "6"}06
              %option{value: "7"}07
              %option{value: "8"}08
              %option{value: "9"}09
              %option{value: "10"}10
              %option{value: "11"}11
              %option{value: "12"}12
          %span 月
          .single__field__select.single__field__select--small
            %select.exp_year#card_expire_yy{maxlength: "4", name: "exp_year", type: "text"}
              %option{value: "2019"}19
              %option{value: "2020"}20
              %option{value: "2021"}21
              %option{value: "2022"}22
              %option{value: "2023"}23
              %option{value: "2024"}24
              %option{value: "2025"}25
              %option{value: "2026"}26
              %option{value: "2027"}27
              %option{value: "2028"}28
              %option{value: "2029"}29
          %span 年
      .single__field
        .single__field__label
          = label :number, "セキュリティコード"
          %span.single__field__require 必須
        .single__field__input
          %input.cvc.input-default{maxlength: "3", name: "cvc", placeholder: "カード背面もしくは４桁もしくは３桁の番号", type: "text", id: "cvc_code"}
        = link_to "カード裏面の番号とは？", "/", class: "single__field__text single__field__text__link single__field__text--right"

      %button.single__form__send-btn#submit-charge{type: "submit"} 登録完了