%main.mypage
  .mypage__container
    .mypage__contents
      .single__page__main
        .single__page__main__container
          %h2.single__page__main__head
            本人情報の登録
          = form_for resource, url: credit_card_user_registration_path, html: {method: :get, class: "single__form--box"} do |f|
            .single__field.single__field--large
              .single__field__text
                お客さまの本人情報をご登録ください。
                %br
                  登録されたお名前・生年月日を変更する場合、本人確認書類の提出が必要になります。
              .single__field__text.single__field__text__link.single__field__text--right
                本人確認書類のアップロードについて>
            .single__field
              .single__field__label
                = label :devise, :name, "お名前"
              .single__field__input
                .single__field__text
                  = current_user.last_name + " " + current_user.first_name

            .single__field
              .single__field__label
                = label :devise, :name_kana, "お名前カナ"
              .single__field__input
                .single__field__text
                  = current_user.last_name_kana + " " + current_user.first_name_kana

            .single__field
              .single__field__label
                = label :devise, :birthday, "生年月日"
              .single__field__input
                .single__field__text
                  = current_user.birthday


            .single__field
              .single__field__label
                = label :address, :postal_code, "郵便番号"
                %span.single__field__require 必須
              .single__field__input
                = text_field :address, :postal_code, placeholder: "例) 123-4567"
            .single__field
              .single__field__label
                = label :address, :prefecture, "都道府県"
                %span.single__field__require 必須
              .single__field__select
                = select :address, :prefecture, ["---", "北海道"]
            .single__field
              .single__field__label
                = label :address, :municipalities, "市区町村"
                %span.single__field__require 必須
              .single__field__input
                = text_field :address, :municipalities, placeholder: "例) 横浜市緑区"
            .single__field
              .single__field__label
                = label :address, :address, "番地"
                %span.single__field__require 必須
              .single__field__input
                = text_field :address, :address, placeholder: "例) 青山1-1-1"
            .single__field
              .single__field__label
                = label :address, :building, "建物名"
                %span.single__field__require.single__field__require--option 任意
              .single__field__input
                = text_field :address, :building, placeholder: "例) 柳ビル103"
            .single__field
              .single__field__label
                = label :devise, :phone, "電話"
                %span.single__field__require.single__field__require--option 任意
              .single__field__input
                = text_field :devise, :phone, placeholder: "例) 09012345678"          
            = f.submit "次へ進む", class: "single__form__send-btn"
