:ruby
  first_titles = ["お知らせ", "やることリスト"]
  first_path = [notification_mypage_index_path, todo_mypage_index_path]
  second_titles = ["取引中", "過去の取引"]
  second_path = [purchase_mypage_index_path, purchased_mypage_index_path]

-breadcrumb :mypages
%main.mypage
  .mypage__container
    .mypage__contents
      .mypage__content
        .mypage__content__head.mypage__content__head--image
          %section.mypage__content__head__user-icon
            = link_to show_user_plofile_path(current_user) do
              %figure
                = image_tag current_user.image.url, size: "60x60"
              %h2.mypage__content__head__user-icon__name.bold
                = current_user.nickname
              .mypage__content__head__user-icon__number
                .mypage__content__head__user-icon__number--rate
                  評価
                  %span.bold
                    0
                .mypage__content__head__user-icon__number--display
                  出品数
                  %span.bold
                    10


        %section.mypage__content__tab-container
          %ul.mypage__content__tabs
            = render partial: "mypage-tabs", locals: { active: true, title: first_titles[0], path: first_path[0] } 
            = render partial: "mypage-tabs", locals: { active: false, title: first_titles[0], path: first_path[0] } 
          .mypage__content__tab-content
            %ul.mypage__content__tab-content__item-list.show-mypage-tab
              = render partial: "mypage-tab-lists", locals: { announces: [] }
            %ul.mypage__content__tab-content__item-list
              = render partial: "mypage-tab-lists", locals: { announces: [] }
          

      .mypage__content
        .mypage__content__head.mypage__content__head--text
          購入した商品
        %section.mypage__content__tab-container
          %ul.mypage__content__tabs
            = render partial: "mypage-tabs", locals: { active: true, title: second_titles[0], path: second_path[0] }
            = render partial: "mypage-tabs", locals: { active: false, title: second_titles[1], path: second_path[1] }
          .mypage__content__tab-content
            %ul.mypage__content__tab-content__item-list.show-mypage-tab
              - if @purchase_items.exists?
                - @purchase_items&.each do |item|
                  = render partial: "mypage_tab_item", locals: {item: item}
              - else
                %li.mypage__content__tab-content__item-list--none
                  取引中の商品はありません
            %ul.mypage__content__tab-content__item-list
              - if @purchased_items.exists?
                - @purchased_items&.each do |item|
                  = render partial: "mypage_tab_item", locals: {item: item}
              - else
                %li.mypage__content__tab-content__item-list--none
                  売却済みの商品はありません
              


    .mypage__side
      =render "shared/sidebar"
