:ruby
  first_titles = ["お知らせ", "やることリスト"]
  second_titles = ["取引中", "過去の取引"]

  first_announces = [{
    Name:"コメントがつきました", url:"#"
  },{
    Name:"いいね！！！！がつきました", url:"#"
  },{
    Name:"事務局からメッセージ！コメントがつきました！いいねがつきました！確認してください！", url:"#"
  }]


  second_announces =  [{
    Name:"商品が届いたらお知らせください", url:"#"
  },{
    Name:"送金してください", url:"#"
  },{
    Name:"商品が届いたら評価しましょう", url:"#"
  }]
  
-breadcrumb :mypages
%main.mypage
  .mypage__container
    .mypage__contents
      .mypage__content
        .mypage__content__head.mypage__content__head--image
          %section.mypage__content__head__user-icon
            = link_to show_user_plofile_path(@user) do
              %figure
                = image_tag @user.image.url, size: "60x60"
              %h2.mypage__content__head__user-icon__name.bold
                = @user.nickname
              .mypage__content__head__user-icon__number
                .mypage__content__head__user-icon__number--rate
                  評価
                  %span.bold
                    0
                .mypage__content__head__user-icon__number--display
                  出品数
                  %span.bold
                    10


        %section.mypage__content__tab-container
          %ul.mypage__content__tabs
            = render partial: "mypage-tabs", locals: { titles: first_titles } 
          .mypage__content__tab-content
            %ul.mypage__content__tab-content__item-list.show-mypage-tab
              = render partial: "mypage-tab-lists", locals: { announces: first_announces }
            %ul.mypage__content__tab-content__item-list
              = render partial: "mypage-tab-lists", locals: { announces: [] }
          

      .mypage__content
        .mypage__content__head.mypage__content__head--text
          購入した商品
        %section.mypage__content__tab-container
          %ul.mypage__content__tabs
            = render partial: "mypage-tabs", locals: { titles: second_titles }
          .mypage__content__tab-content
            %ul.mypage__content__tab-content__item-list.show-mypage-tab
              = render partial: "mypage-tab-lists", locals: { announces: second_announces }
            %ul.mypage__content__tab-content__item-list
              = render partial: "mypage-tab-lists", locals: { announces: [] }


    .mypage__side
      =render "shared/sidebar"
