%main.mypage


  .mypage__container
    .mypage__contents
      .mypage__content__detail
        .mypage__content__head.mypage__content__head--image
          %section.mypage__content__head__user-icon
            = link_to mypage_detail_path do
              %figure
                = image_tag "mypage_icon.png", size: "180x180"
              %h2.mypage__content__head__user-icon__name.bold
                testman
              .mypage__content__head__user-icon__number
                .mypage__content__head__user-icon__number--rate
                  評価
                  %span.bold
                    0
                .mypage__content__head__user-icon__number--display
                  出品数
                  %span.bold
                    0
        .white
          .item-content__detail-table__face--detail
            .item-content__detail-table__face--good
              = fa_icon "smile-o", class: "good-icon"
              %span.item-content__detail-table__face__name
                10
            .item-content__detail-table__face--normal
              = fa_icon "meh-o", class: "normal-icon"
              %span.item-content__detail-table__face__name
                10
            .item-content__detail-table__face--bad
              = fa_icon "frown-o", class: "bad-icon"
              %span.item-content__detail-table__face__name
                10
          .maypage__detail__introduce
            ああああ

          .item__social-media-box
            %ul.item__social-media-box__links
              %li
                =link_to "http://www.facebook.com" do
                  =fa_icon "facebook-square", class:"icon-facebook"
              %li
                =link_to "http://www.twitter.com" do
                  =fa_icon "twitter-square", class:"icon-twitter"
              %li
                =link_to "http://www.pinterest.com" do
                  =fa_icon "pinterest-square", class:"icon-pinterest"

                
          .item-other
            %section.item-other__user-items
              %h2.item-other__user-items__head
                = link_to "この出品者の商品", class: "link item-link"
              .item-other__user-items__content
                %section.item-other__user-items__content__box
                  = link_to class: "link item-link" do
                    %figure.item-other__user-items__content__box__photo
                      = image_tag("other-item.png", class: "item-image", size: "220x220")
                    .item-other__user-items__content__box__body
                      %h3.item-other__user-items__content__box__body__name
                        ケーキ
                      .item-other__user-items__content__box__num
                        .item-other__user-items__content__box__num__price
                          ¥ 20,000
                        .item-other__user-items__content__box__num__likes
                          =fa_icon "heart-o", class: "like-icon"
                          %span.item-other__user-items__content__box__num__likes__num
                          100







          

          


    .mypage__side
      =render "shared/sidebar"
